<?xml version="1.0"?>

<model>
  <name>Traethlin default world</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Fred Labrosse</name>
    <email>ffl@aber.ac.uk</email>
  </author>

  <description>
    Based on the VRC Driving Terrain.
  </description>
</model>
